.container{
    justify-content: center;
    padding: 30px;
   margin-left: 10%;
}

.image{
   
    width: 240px !important;
    background-color: #192637;
    border-radius: 50%;
    margin-left: 7%;
}
.title{
    color:whitesmoke;
    margin-left: 7%;
     width: 240px !important;
}
@media(max-width:770px){
    .container{
    margin-left: 0%;
    margin-right: 0%;
    font-weight: 500;
}
.image{
   
    width: 85px !important;
    background-color: #192637;
    border-radius: 50%;
}
.title{
    color:whitesmoke;
    margin-left: 5%;
    font-weight: 100;
     width: 100px !important;
}
}