.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%; 
     /* margin-bottom:1%  !important; */
    background-color:whitesmoke;
}
@media(max-width:770px){
    .container{
        width: 100%;

    }
}