.container{
    background-color: whitesmoke;
      width: 100%;
     

       /* margin:1% 2% !important; */
      margin-bottom: 0.09% !important;
}
.text{
    font-size: x-large !important;
}
@media(max-width:770px){
    .container{
        width: 100%;
         margin-bottom: 0.40% !important;
}
}