

.card{
    width: 100% !important;
    margin-bottom:1%  !important;
    display:flex;
}
.details{
    display:flex;
    flex-direction: column;
}
.content{
    flex:1 0 auto;
}
.lottieStyle{
    height: 25px !important;
    width: 100px !important;
}
.cover {
    
   background-color:#192637
  }
.infected{
    border-right: 10px solid rgba(0, 0, 255, 0.5);
}
.recovered{
    border-right: 10px solid rgba(0,  255,0, 0.5);
}
.deaths{
    border-right: 10px solid rgba( 255,0, 0, 0.5);
}
@media(max-width:770px){
    .card{
        margin:2% 0 !important
    }
    

}