.background{
    background-image: -webkit-linear-gradient(
    right,
    #202425
    ,
    #37474f
  
  );
    
    
    position: absolute;
    width: 100%;
    left: 0px;
}
.head {
    text-align: center;
    color: #e9e9e9;
  }
  .head p{
      font-size: unset;
  }
.hr{
    width: 50px;
    height: 2px;
    background: white;
    margin: 5px 0px 20px 0px;
}
.bottomhead{
    color: #e9e9e9;
    margin: auto;
    width:250px;
    text-align: left;
}
.icons{
    height: 60px;
    width: 60px;
}
.linkText{
    -webkit-text-fill-color: rgb(253, 253, 253);
}
.linkText{
    text-decoration: none;
}

.bottomhead p a{
    color:white;
    text-decoration: none;
}
.icons li a {
    color:white;
    display:block;
    width: 50px;
    text-decoration: none;
}
.icons li {
   list-style-type: none;
   float: left;
}
.icons:last-child{
    margin: 10px auto;
    width: 161px;
    height: 10px;

}

.bottomhead .icons{
    margin-left: 0px;
}

.iconbox{
    width: 100%;
}

.textGap{margin-top:"0px"}

.copyright{
    margin-left: 40%;
     color:white;
}

@media(max-width:770px){
.copyright{
    margin-left: 5%;
}
}