
body,html,#root{
    margin:0 ;
    padding: 0;
    /* height: 100vh; */
 background-color: #31324d;
   
}
.coronaImage{
    width: 350px;
    align-items: baseline;
    
   
        padding: 1%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 30%;
     justify-content: center ;
}
.InfoBtn{
    height: 100%;
    font-size: x-large !important;
    
}

@media(max-width:770px){
    /* .container{
        margin:0 10%
    } */
    .coronaImage{
    width: 150px;
    margin-top: 0px;
    margin-left: 10%;
    margin-bottom: 0px;
    height: 50%;
    padding: 5%;
    background-color: aliceblue;
     justify-content: center ;
}
.InfoBtn{
    height: 90%;
    width: 50%;
    font-size: xx-small !important;
}
}

